{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ html_language }}">
<head>
    {% include 'global/partials/head.html' %}
    <title>{% block title %}{% endblock %}{% translate 'Portfolio' %}</title>
</head>
<body>
    {% include 'global/partials/menu.html' %}
    {% include 'global/partials/header.html' %}
    {% include 'global/partials/search.html' %}
    <main class="main-content-container">
        {% block conteudo %}{% endblock %}
        {% include 'global/partials/pagination.html' %}
        {% include 'global/partials/about.html' %}
        {% include 'global/partials/skills.html' %}
        {% include 'global/partials/curriculum_vitae.html' %}
    </main>
    {% include 'global/partials/footer.html' %}
    <script src="{% static 'portfolio/js/script.js' %}"></script>
</body>
</html>