{% load static%}
        <div id="about_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="main-title">Sobre a Mariana</h3>
                    </div>
                    <!-- Colocando as colunas respeitando as medidas da tela -->
                    <div class="col-md-6">
                        <img src="{% static 'portfolio/image/mary-ann.jpeg' %}" alt="Mariana" class="img-fluid">
                    </div>
                    <div class="col-md-6 text-about">
                        <h3 class="about-title">Algumas informações</h3>
                        <p>Sou ilustradora digital e tradicional, faço comissões de</p>
                        <p>desenho digital e no momento estou cursando design visual</p>
                        <p>na Universidade Positivo. Faço aulas de desenho tradicional</p´>
                        <p>a três anos.</p>
                        <p>Tenho interesse em áreas da arte e do design e estou sempre</p>
                        <p>aberta a novas experiências e aprendizados. Trabalho bem em</p>
                        <p>equipe, sou organizada e criativa em uma busca constante</p>
                        <p>pelo conhecimento. Apaixonada por inspirar pessoas com a</p>
                        <p>minha arte.</p>
                        <p>Algumas habilidades em Artes Visuais</p>
                        <ul id="about-list">
                            <li><i class="fas fa-check"></i>Elementos fundamentais da linguagem visual</li>
                            <li><i class="fas fa-check"></i>Técnicas e expressões artísticas</li>
                            <li><i class="fas fa-check"></i>Habilidades criativas e cognitivas</li>
                            <li><i class="fas fa-check"></i>Conhecimento do sistema artístico</li>
                            <li><i class="fas fa-check"></i>Análise e Contextualização</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>