<button class="button-show-menu button-show-menu-visible">
     <i class="fa-solid fa-bars"></i>
     <span class="hidden-text">Mostrar menu</span>
</button>
<div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
         <i class="fa-solid fa-circle-xmark"></i>
         <span class="hidden-text">Fechar Menu</span>
    </button>
    <div class="menu-content">
        <nav class="menu-nav">
            <a href="{% url 'portfolio:photos-home' %}">Home</a>

            {% if user.is_authenticated %}
                <a href="{% url 'autores:dashboard_photo_new' %}">Novo Trabalho</a>
                <a href="{% url 'autores:dashboard' %}">Seu Dashboard</a>
                <a class="autores-logout-link" href="{% url 'autores:logout' %}">Logout</a>
                {% include 'partials/form_logout.html' %}
            {% else %}
                <a href="{% url 'autores:login' %}">Login</a>
                <a href="{% url 'autores:register' %}">Cadastrar-se</a>
            {% endif %}
        </nav>
    </div>
</div>