:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-primary-btn: #65DAF9;
    
    --color-white: #fff;
    --color-black: #000;
    --color-other-black: #333;
    
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
    
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
    
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
    --spacing-gutter-small: 0.5rem;
}

/* Estilos Gerais */
* {
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 75%;
    font-family: 'Roboto Slab', sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
    color: var(--color-dark-text);
    margin: 0;
    overflow-x: hidden;
    height: 100svh;
    width: 100vw;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
}

img {
    max-width: 100%;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

/*Menu */
@mixin transition-max-height {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition: max-height .5s #{.65 + $i * .02}s ease-in;
    }
  }
}

@mixin media-sm {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

@function getColor($color) {
  @if (lightness($main) > 50) {
      @return rgba(black, .8);
  } @else {
      @return rgba(white, .8);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;

$main: rgb($red, $green, $blue);
$main: #0070cc;
$dark: mix(black, $main, 20%);

// select font color
$text: getColor($main);
%sidebar-hover {
  @include alpha-attribute('background-color', rgba($main, 0.6), white);
}

.primnav {
  position: fixed;
  height: 58px;
  width: 100vw;
  font-size: .8em;
  text-transform: uppercase;
  background-color: lighten($main, 5%);
  display: flex;
  flex-direction: column;
  transition: height 246ms .5s ease;
  padding-top: 58px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  z-index: 1;
  @include media-sm {
    height: 100vh;
    width: 58px;
    transition: width 246ms .5s ease;
  }
  
  > ul {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  li {
    font-weight: 400;
    position: relative;
    &:hover {
      @extend %sidebar-hover;
    }
    .tag {
      @include alpha-attribute('background-color', rgba($main, .8), black);
      color: $text;
      @include alpha-attribute('color', rgba($text, .9), black);
      padding: 0 .5em;
      border-radius: 2em;
      margin-left: auto;
      margin-right: .75em;
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      white-space: nowrap;
      @include alpha-attribute('color', rgba($text, 0.8), white);
      text-decoration: none;
    }
    
  }
  .icon {
    height: 20px;
    flex-shrink: 0;
    width: 20px;
    padding: 19px;
    margin-right: 5px;
    padding-bottom: 15px;
    @include alpha-attribute('color', rgba($text, .9), black);
  }
  expand:hover {
    @extend %sidebar-hover;
  }
}

.secnav {
  margin-left: 63px;
  border-left: 1px solid black;
  @include alpha-attribute('border-left-color', rgba($main, .9), black);
  overflow: hidden;
  
  li {
    @include alpha-attribute('color', rgba($text, .9), black);
    max-height: 100px;
    transition: max-height .1s;
    
    @include media-sm {
      max-height: 0px;
      transition: max-height .5s .5s;
    }
    
    a {
      text-transform: initial;
      display: block;
      color: inherit;
      padding: .75em 10px;
    }
  }
}

user {
  padding: 5px;
  padding-bottom: 3px;
  flex-shrink: 0;
  position: fixed;
  font-weight: 400;
  right: 0;
  @include alpha-attribute('color', rgba($text, 0.9), white);
  z-index: 99999;

  > section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    > section {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
    }
  }
  img {
    height: 51px;
    width: 48px;
    clip-path: circle(50% at 50% 50%);
    margin-left: 10px;
    min-height: 51px;
    min-width: 48px;
    align-items: flex-end;
  }
  name {
    font-weight: 400;
  }
  actions {
    padding: .1em 0;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    
    a {
      padding: 0 .5em;
      color: $text;
      text-decoration: none;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

content {
  font-family: 'Pacifico', cursive;
  color: rgba($text, .9);
  font-size: 8vw;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main;
  height: 100%;
  padding-top: 58px;
  box-sizing: border-box;
  position: relative;
  @include media-sm {
    padding-left: 58px;
    padding-top: 0;
  }
}

.features {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  li {
    width: 100%;
    text-align: center;
    padding: .25em;
  }
}


/**
    SCROLLBAR STYLE FOR IE
*/

body {
  scrollbar-base-color: $main;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: $main;
  scrollbar-track-color: $main;
  scrollbar-arrow-color: $main;
  scrollbar-shadow-color: $main;
  scrollbar-dark-shadow-color: $main;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.icon {
  display: inline-block;
  width: 5vw;
  height: 4vw;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

$hamburger: $text;

/** hamburger */

input.hamburger {
  display: none;
  &:checked {
    & ~ nav.primnav {
      height: 100vh;
      @include media-sm {
        width: 275px;
      }
      
      .secnav > li {
        @include media-sm {
          @include transition-max-height;
          max-height: 100px;
        }
      }
    }
    & ~ label {
      > i {
        background-color: transparent;
        transform: rotate(90deg);
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
      close {
        color: $hamburger;
        width: 100%;
      }
      open {
        color: rgba(0, 0, 0, 0);
        width: 0;
      }
    }
  }
}

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 24px;
  width: 24px;
  &:hover {
    cursor: pointer;
  }
  text {
    close,
    open {
      text-transform: uppercase;
      align-text: center;
      position: absolute;
      transform: translateY(24px);
      text-align: center;
      overflow: hidden;
      transition: width .25s .35s, color .45s .35s;
      font-size: 6px;
    }
    close {
      color: $text;
      right: 0;
      width: 0;
    }
    open {
      color: $hamburger;
      width: 100%;
    }
  }
  > i {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: $hamburger;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s;
    &:before,
    &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      left: 50%;
      background-color: $hamburger;
      content: "";
      transition: transform 0.35s;
      transform-origin: 50% 50%;
    }
    &:before {
      transform: translate(-50%, -7px);
    }
    &:after {
      transform: translate(-50%, 7px);
    }
  }
}

label.hamburger {
  position: fixed;
  top: 14px;
  left: 17px;
}

.tabs {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  position: fixed;
  top: 58px;
  left: 0;
  background-color: lighten($main, 5%);
  border-bottom: 1px solid darken($main, 5%);
  width: 100vw;
  box-sizing: border-box;
  
  @include media-sm {
    padding-left: calc(58px + .5rem);
    top: calc(58px - 3em);
    background-color: $main;
    border: 0;
  }
  
  > ul {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    flex-wrap: wrap;
    
    @include media-sm {
      justify-content: flex-start;
    }
  }
  
  .tab {
    font-weight: 300;
    font-size: .7em;
    padding: 1em .75em;
    white-space: nowrap;
    flex-shrink: 0;
    display: block;
    color: $text;
    text-decoration: none;
    
    &:hover {
      background-color: darken($main, 5%);
      cursor: pointer;
    }
  }
}

/* Header */
.main-header-container {
    background: var(--color-primary-dark);
}
.main-logo {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}
.main-logo-icon {
    margin-right: 2rem;
}

/* Procurar - Pesquisar */
.search-form {
    border: .2rem solid var(--color-primary-dark);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}
.search-input, .search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}
.search-input {
    width: 100%;
    padding-right: 3rem;
}
.search-button {
    position: absolute;
    top: 0;
    right: 0;
}
.search-button:focus {
    outline: 1px solid var(--color-primary);
    background: rgba(0, 0, 0, .1);
}
.search-form:focus-within {
    border-color: var(--color-primary);
    background: var(--color-white);
}
.search-form:focus-within, .search-button {
    color: var(--color-primary);
}

/* Slider */
.container-fluid {
    padding: 1rem 0;
}

#mainSlider .carousel-inner #mainSlider .carousel-item{
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: var(--color-white);
}

.slide-btn {
    background-color: var(--color-primary-btn);
    color: var(--color-white);
    text-transform: uppercase;
    display: inline-block;
    width: 220px;
    height: 30px;
    padding: 10px 20;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.slide-btn:hover {
    text-decoration: none;
    color: var(--color-white);
    background-color: transparent;
    border-color: var(--color-primary-btn);
}

.carousel-indicators active {
    background-color: var(--color-gray-0);
}

/* Corpo da página principal */
.main-content {
    max-width: 400rem;
    padding: var(--spacing-gutter-medium);
    margin: 0;  
}
.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--spacing-gutter-medium);
}

/* Lista dos trabalhos publicados */
.photo {
    background: var(--color-white);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, .3);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: .8rem;
    overflow: hidden;
}

.photo img {
    max-width: 100%;
}

.photo-list-item {
    max-width: 64rem;
    height: fit-content;
}

.photo-list-item:hover {
    transform: scale(1.03);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, .5);
}

.photo-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: calc(var(--spacing-gutter-medium)/2);
}

.photo-author {
    padding: 0 var(--spacing-gutter-medium);
}

.photo-content {
    padding: var(--spacing-gutter-medium);
    padding-top: calc(var(--spacing-gutter-medium)/2);
}

.photo-author-item {
    color: var(color-gray-4);
    margin-right: 1rem;
}

.photo-author a {
    color: var(--color-primary);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.photo-author a:hover {
    color: var(--color-primary-dark);
}

.photo-meta-container {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-gutter-medium);
    background: var(--color-gray-1);
}

.photo-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.photo-meta-title {
    font-size: 1.6rem;
}

.photo-footer a {
    background: var(--color-primary-dark);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem var(--spacing-gutter-medium);
    transition: all 300ms ease-in-out;
}

.photo-footer a:hover {
    filter: brightness(2);
}

/* Detalhes do trabalho */
.main-content-detail .photo-list-item {
    max-width: 84rem;
    margin: 0 auto;
}

.main-content-detail .photo-list-item:hover {
    transform: scale(1);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, .2);
}

.historia h1, 
.historia h2,
.historia h3,
.historia h4,
.historia h5,
.historia h6,
.historia p,
.historia pre {
    margin: 2rem 0;
}

.historia ol,
.historia ul {
    margin: 2rem;
    padding: 0 2rem;
}

/* Página sobre */
#about-area {
    color: var(--color-gray-0);
}

.main-title {
    color: var(--color-dark-text);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid var(--color-other-black);
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 22px;
    color: var(--color-dark-text);
    text-transform: uppercase;
    font-weight: bold;
}

.text-about {
    font-size: 1.5rem;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: var(--color-primary-btn);
    margin-right: 15px;
}

/* Página Skills */
.circle-box div {
    0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#skills_area p {
    color: var(--color-white);
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Página Curriculum Vitae */
.cv-box {
    text-align: center;
    margin-bottom: 50px;
}

.cv-box i, .cv-box h4 {
    transition: .5s;
} 

.cv-box i {
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--color-dark-text);
}

.cv-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cv-box:hover > i, .cv-box > h4 {
    color: var(--color-primary-btn);
}

/*Rodapé */
#contact_area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3EC1D5;
}

.contact-box i {
    color: #444;
    border: 1px solid #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #3EC1D5;
}

#msg-box p {
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
	margin-bottom: 15px;
	border-radius: 0;
}

#contact-form .main-btn {
	width: 120px;
	height: 50px;
}

#contact-form .main-btn:hover {
	color: #3EC1D5;
}

.contact {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-large);
}

.powered {
    font-size: 20px;
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(.8);
}

/* Paginacao */
.center {
    text-align: center;
}

.m-x {
    margin: 0 var(--spacing-gutter-medium);
}

.m-y {
    margin: var(--spacing-gutter-medium) 0;
}

.pagination-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0.5rem;
}

.pagination .page-item {
    background: var(--color-gray-3);
    padding: 0.5rem 1rem;
}

.pagination .page-link {
    text-decoration: none;
    background: var(--color-primary);
    color: var(--color-white);
}

.pagination .pagina-atual {
    background: var(--color-primary-dark);
}

/*Contact*/
.send-btn {
    background-color: var(--color-gray-6);
    color: var(--color-white);
    text-transform: uppercase;
    display: inline-block;
    width: 220px;
    height: 60px;
    padding: 10px 20;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.send-btn:hover {
    text-decoration: none;
    color: var(--color-black);
    background-color: transparent;
    border-color: var(--color-gray-6;
}

/* Formulários */
.form-content {
    max-width: 64rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-gutter-medium);
}

.form-content label,
.form-content help_text,
.errorlist{
    display: block;
    margin: .5rem 0;
    font-size: 1.4rem;
    list-style-type: none;
}

.errorlist {
    color: var(--color-error-dark);
}

.form-content input, 
.form-content textarea,
.form-content select {
    width: 100%;
    padding: 1rem;
    border-radius: .4rem;
    border: 1px solid var(--color-primary-dark);
}

.form-content input {
    width: 100%;
    padding: 1rem;
    border-radius: .4rem;
    border: 1px solid var(--color-primary-dark);
}

.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: calc(var(--spacing-gutter-medium)/2);
}

.form-content button {
    padding: 1rem 2rem;
    border: none;
    background: var(--color-primary-dark);
    color: var(--color-white);
}

.inline-form {
    display: inline;
}

.span-2 {
    grid-column: span 2;
}

/* Mensagens */
.messages-container {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing-gutter-medium)/2);
}

.message {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
}

.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}

.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}

.message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
}

.message-info {
    border: 1px solid var(--color-info-dark);
    background: var(--color-info-light);
    color: var(--color-info-dark);
}

.message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
}

.inline-form {
    display: inline;
}

.plaintext-button {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 1.6rem;
}

/*Autores*/
.login-message {
    margin: 1rem 0;
}

.authors-dashboard-container {
    max-width: 64rem;
    text-align: left;
    padding: var(--spacing-gutter-medium);
    margin: 0 auto;
}

.authors-dashboard-container h3,
.authors-dashboard-container p,
.authors-dashboard-container ul {
    margin: 1rem 0;
}


/*Generics*/
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.hidden-text {
    display: none;
}

@media(max-width: 600px) {
    .main-content-list,
    .form-content-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}